/* Attribution style from front-end mentor. */
.attribution { font-size: 11px; text-align: center; }
a.footer:link, a.footer:visited{
    color: hsl(332,51%,32%);
}
a.footer:hover {
  color: hsl(330,100%,98%);
}

@font-face {
  font-family: "Young Serif";
  font-optical-sizing: auto;
  src: url(https://fonts.google.com/specimen/Young+Serif);
}

@font-face {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    src: url(https://fonts.google.com/specimen/Outfit);
}

body{
    background-color: hsl(30, 54%, 90%);
    font-family: Outfit, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: hsl(30, 10%, 34%);
}

/* Headers and text color*/
h1{
    font-family: Young Serif;
    font-weight: 600;
    color: hsl(24, 5%, 18%);
}

h2{
    font-family: Outfit, sans-serif;
    font-size: 1.2em;
    font-weight: 600;
    color: hsl(332,51%,32%);
    padding-top: 0em;
    margin-top: 1em;
}

h3{
    font-family: Young Serif;
    font-weight: 600;
    font-size: 1.5em;
    color: hsl(14,45%,36%);
}

p.stone{
    color: hsl(30, 10%, 34%);
}

/* Style for boxes */
.rose{
    background-color: hsl(330,100%,98%);
}

.white{
    background-color: white;
}

.flex-container{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 90vw;
    justify-content: center;
    align-items: center;
    padding: 5em 5em;
}

.rdcorners {
    border-radius: 1em;
    width: 100%;
    height: fit-content;
    padding: 2em 2em;
    box-sizing: border-box;
  }

  .rdcornerstwo{
    border-radius: 1em;
    width: 100%;
    height: fit-content;
    padding: 1em 1em;
    box-sizing: border-box;
  }

  /* Line */
  hr.line{
    border-top: 1px solid hsl(30, 18%, 87%);
    margin-top: 1.5em;
  }

  /* Table */
table.general{
    width: 100%;
    border-collapse: collapse;
}

  td.red{
    color: hsl(14,45%,36%);
    font-weight: 600;
  }

  td.stone{
    color: hsl(30, 10%, 34%);
    padding-left: 4%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  td.border{
    border-bottom: 1px solid hsl(30, 18%, 87%);
  }

  /* Image */
  img.banner{
    width: 100%;
    border-radius: 1em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

/* Lists */
li::marker{
    color: hsl(332,51%,32%);
}

li{
    padding-left: 0.5em;
}

.alignleft{
    padding-left: 1.5em;
}

  li.space{
    padding-top: 0.5em;
  }